.cart-content {
    margin-top: 5%;
}

.cart-total {
    margin-top: 5%;
}

.checkout-btn {
    margin-bottom: 30px;
    margin-right: 30px;
}

.cart-empty {
    margin-top: 5%;
    margin-bottom: 5%;
}