{{> header}}

<!-- Content -->
<section class="container">
    <div class="row">
        <div class="col-md-12 align-items-center">
            <h1 class="title">Something went wrong during transaction. Please contact your bank representative for more details.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="/" class="btn btn-primary">Go back</a>
        </div>
    </div>

</section>