<h1>Coffee Bag Shop</h1>
<span>Dear Admin, <br /></span>
<span>You have a new message through the contact form. Please find below the details provided by the customer <br /></span>
<span>First Name: {{firstName}}<br /></span>
<span>Last Name: {{lastName}}<br /></span>
<span>Email: {{email}}<br /></span>
<span>Message: {{message}}<br /></span>