<h1>Coffee Bag</h1>
<span>Dear {{firstName}}, <br /></span>
<span>Thank you for contacting us. We will answer your request shortly.<br /></span>
<span>Kind regards,<br /></span>
<span>Coffee Bag Team</span>