<!-- Header -->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Coffee Bag</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">An e-commerce shop project build with Node JS</h2>
        <a href="/shop" class="btn btn-primary js-scroll-trigger">Go to shop</a>
        </div>
    </div>
</header>
<!-- Signup Section -->
<section id="signup" class="signup-section">
    <div class="container">
        <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">Enter your email to subscribe to our newsletter</h2>

            <form action="/newsletter" class="form-inline d-flex" id="signupForm" method="post">
            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" name="receiverEmail" placeholder="Your Email Address" required="required"/>
            <button id="submitNewsletter" type="submit" class="btn btn-primary mx-auto" disabled="disabled">Submit</button>
            </form>

        </div>
        </div>
    </div>
</section>

<!-- Icons Section -->
<section class="icon-section bg-black">
    <div class="container">
        <div class="row">
            <div class="container col-md-6">
                <div class="row">
                    <div class="col-md-12 text-center icon-title">
                        <p>Delivery On Time</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <svg width="236" height="126" viewBox="0 0 314 175" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="deliveryVan">
                            <g id="Rest">
                                <path id="rect4745" d="M12.0464 14.4342V124.06H30.3342C31.8954 120.12 35.0415 116.674 39.311 114.225C43.5805 111.776 48.7485 110.455 54.0565 110.454C59.3606 110.458 64.5235 111.782 68.7884 114.23C73.0533 116.679 76.1961 120.123 77.7561 124.06H212.64V14.4342H12.0464Z" stroke="white" stroke-width="5.145"/>
                                <path id="path5290" d="M212.504 36.3378L212.551 124.059H238.837C240.328 120.045 243.458 116.516 247.756 114.002C252.054 111.489 257.288 110.128 262.669 110.124C268.051 110.126 273.287 111.486 277.588 114C281.888 116.513 285.019 120.044 286.51 124.059H304.083V93.4386L295.601 88.2671L285.229 87.0766L275.677 49.6905H285.534L284.169 44.3462L270.943 36.3378H212.504Z" stroke="white" stroke-width="3"/>
                                <path id="path5312" d="M285.535 49.6906H212.285" stroke="white" stroke-width="3"/>
                                <path id="path5314" d="M285.228 87.0765H212.072" stroke="white" stroke-width="3"/>
                                <path id="rect5320" d="M303.002 93.4391H291.812V97.2752H303.002V93.4391Z" stroke="white" stroke-width="1.48"/>
                                <path id="ellipse5324" d="M298.222 114.738C300.735 114.738 302.772 113.054 302.772 110.977C302.772 108.9 300.735 107.216 298.222 107.216C295.709 107.216 293.672 108.9 293.672 110.977C293.672 113.054 295.709 114.738 298.222 114.738Z" stroke="white" stroke-width="1.8"/>
                                <path id="path5477" d="M109.065 106.177C134.334 106.177 154.818 89.5815 154.818 69.1098C154.818 48.6381 134.334 32.0425 109.065 32.0425C83.7971 32.0425 63.3132 48.6381 63.3132 69.1098C63.3132 89.5815 83.7971 106.177 109.065 106.177Z" stroke="white" stroke-width="3.00371"/>
                                <path id="rect5326" d="M240.481 94.31H222.876V99.93H240.481V94.31Z" stroke="white" stroke-width="1.78"/>
                            </g>
                            <g id="LeftWheel">
                                <path id="circle5467" d="M54.2329 160C68.04 160 79.2329 148.807 79.2329 135C79.2329 121.193 68.04 110 54.2329 110C40.4257 110 29.2329 121.193 29.2329 135C29.2329 148.807 40.4257 160 54.2329 160Z" stroke="#8B8B8B" stroke-width="5.44482"/>
                                <path id="path5473" d="M54.1376 146.705C60.268 146.705 65.2376 141.736 65.2376 135.606C65.2376 129.476 60.268 124.507 54.1376 124.507C48.0073 124.507 43.0376 129.476 43.0376 135.606C43.0376 141.736 48.0073 146.705 54.1376 146.705Z" fill="#8B8B8B" stroke="white" stroke-width="0.48"/>
                            </g>
                            <g id="RightWheel">
                                <path id="path5328" d="M285.278 135C285.278 147.304 275.304 157.278 263 157.278C250.696 157.278 240.722 147.304 240.722 135C240.722 122.696 250.696 112.722 263 112.722C275.304 112.722 285.278 122.696 285.278 135Z" stroke="#8B8B8B" stroke-width="5.44482"/>
                                <path id="ellipse6949" d="M273.765 135.606C273.765 141.603 268.903 146.465 262.905 146.465C256.907 146.465 252.045 141.603 252.045 135.606C252.045 129.609 256.907 124.747 262.905 124.747C268.903 124.747 273.765 129.609 273.765 135.606Z" fill="#8B8B8B" stroke="#8B8B8B" stroke-width="0.480203"/>
                            </g>
                            <g id="ClockBigArm">
                                <path id="path1440" d="M109.15 67.9751V98.9458" stroke="white" stroke-width="3" stroke-linecap="round"/>
                            </g>
                            <g id="ClockLittleArm">
                                <path id="path1442" d="M109.15 67.9751L126.973 54.1371" stroke="white" stroke-width="3" stroke-linecap="round"/>
                            </g>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Reliable delivery service 24/7</p>
                    </div>    
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Please hover over the image for animation</p>
                    </div>
                </div>
            </div>

            <div class="container col-md-6">
                <div class="row">
                    <div class="col-md-12 text-center icon-title">
                        <p>Fresh Ground Coffee</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        id="coffeeBean"
                        version="1.1"
                        viewBox="0 0 150 210"
                        height="126"
                        width="236"
                        >
                            <path
                            stroke = "white" stroke-width="3" fill="white"
                            d="m 79.405726,50.681419 c -11.688772,-10e-7 -24.0656,6.91244 -34.300571,18.829555 -10.234971,11.917115 -17.610077,27.877469 -20.682601,44.502206 -3.072525,16.62475 -1.597286,32.58701 4.232729,44.50412 5.830017,11.91711 15.65351,18.82956 27.34228,18.82956 11.688773,0 24.065598,-6.91244 34.300563,-18.82956 C 100.53309,146.60018 107.90857,130.63793 110.98109,114.01318 114.05361,97.388443 112.57802,81.428088 106.748,69.510974 100.91798,57.593861 91.094488,50.681419 79.405726,50.681419 Z m -0.91615,4.957067 c 10.068282,0 18.741308,5.911063 24.077464,16.818688 5.33616,10.907622 6.78442,25.901695 3.89125,41.556006 -2.89317,15.65432 -9.884132,30.65029 -19.252107,41.55793 -9.367972,10.90761 -20.224188,16.81868 -30.29247,16.81868 -10.068291,0 -18.741307,-5.91106 -24.077466,-16.81868 C 27.500089,144.66348 26.052178,129.6675 28.945353,114.01318 31.838527,98.358869 38.829132,83.364796 48.197105,72.457174 57.565077,61.549551 68.421285,55.638485 78.489576,55.638486 Z"
                            id="path1"/>
                            <path
                            stroke = "white" stroke-width="3" fill="white"
                            d="m 80.988105,52.549487 -4.3669,1.136719 c 0,0 2.300175,11.094015 1.620289,23.222656 -0.339942,6.064321 -1.437909,12.330895 -3.811623,17.5 -2.373713,5.169107 -5.913067,9.250598 -11.51895,11.427738 -13.479994,5.23517 -19.595823,21.00662 -22.47036,34.9414 -2.874538,13.93479 -2.571445,26.57618 -2.571445,26.57618 1.494171,-0.0423 2.988341,-0.0846 4.482512,-0.12696 0,0 -0.266885,-12.11427 2.459338,-25.33008 2.726223,-13.2158 8.38043,-26.99035 19.574858,-31.33789 6.731332,-2.61422 11.254795,-7.81441 14.036092,-13.871091 2.781297,-6.056676 3.930286,-12.959092 4.295083,-19.466797 0.729595,-13.01541 -1.728894,-24.671875 -1.728894,-24.671875 z"
                            id="path2"/>
                            <path
                            stroke = "white" stroke-width="3" fill="white"
                            d="m 92.090163,54.445971 -4.288076,1.462891 c 0,0 2.932035,10.811983 2.066958,22.578125 -0.432534,5.883071 -1.811651,11.923472 -4.846851,16.962891 -3.03521,5.039422 -7.686437,9.182162 -15.171175,11.398442 -16.823394,4.98149 -24.919121,20.4589 -28.646732,34.23632 -3.727611,13.77743 -3.335171,26.28907 -3.335171,26.28907 l 4.482512,-0.16797 c 0,0 -0.339733,-11.79434 3.145991,-24.67774 3.485723,-12.88339 10.548941,-26.41931 25.504244,-30.84765 8.404616,-2.48866 14.138581,-7.4595 17.742619,-13.443361 3.604038,-5.983863 5.117952,-12.877677 5.593059,-19.339846 0.950225,-12.924338 -2.247378,-24.451171 -2.247378,-24.451172 z"
                            id="path3"/>
                        </svg>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Daily fresh ground coffee to ensure top quality</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Please hover over the image for animation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>

<!-- Contact Section -->
<section class="contact-section bg-black">
    <div class="container">

        <div class="row">

        <div class="col-md-6 mb-3 mb-md-0">
            <div class="card py-4 h-100">
            <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4" />
                <div class="small text-black-50">
                    <a href="#">bs17580@bristol.ac.uk</a>
                </div>
            </div>
            </div>
        </div>

        <div class="col-md-6 mb-3 mb-md-0">
            <div class="card py-4 h-100">
            <div class="card-body text-center">
                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Contact</h4>
                <hr class="my-4" />
                <div class="small text-black-50">
                <a href="/contact">Contact Us</a>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>


