{{> header}}

<!-- Content -->
<section class="container">
    <div class="row">
        <div class="col-md-12 align-items-center">
            <h1 class="title">Thank you for subscribing to the newsletter!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="/" class="btn btn-primary">Go back</a>
        </div>
    </div>

</section>