<h1>Thank you for your order!</h1>

<span>Your order has been successfully placed. Delivery will be done in the next 1-2 working days. Please find below a summary of your order.<br /></span>
<span>Thank you, <br /></span>
<span>Coffee Bag Team</span>
