<h1>Coffee Bag Shop</h1>
<span>Dear User, <br /></span>
<span>Click this link to reset your password: <a href="{{link}}">{{link}}</a> <br /></span>
<span>If you did not request a password reset, please ignore this email.<br /></span>
<span><br /></span>
<span>Thank you,<br /></span>
<span>Coffee Bag Team</span>