{{> header}}

<!-- Content -->
<section class="container">
    <div class="row">
        <div class="col-md-12 align-items-center">
            <h1 class="title">Error!</h1>
            <p>The stored cookie nonce does not correspond to your request. Please try resetting your password again later.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="/" class="btn btn-primary">Go back</a>
        </div>
    </div>

</section>