{{> header}}

<div class="container">
    <div class="row">
        <div class="col-md-6 content">
            {{#if nonce}}
            <form class="form" action="/reset-password" method="post">
                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Your New Password" required="reqiured" minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
                    <input type="hidden" name="nonce" value="{{nonce}}" />
                    <input type="hidden" name="userId" value="{{userId}}" />
                </div>
                
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
            <p class="password-requirements">Password must meet the following requirements:</p>
            <ul>
                <li class="red" id="8chars"   >There must be at least 8 characters;</li>
                <li class="red" id="lowercase">There must be at least one lowercase letter;</li>
                <li class="red" id="uppercase">There must be at least one uppercase letter;</li>
                <li class="red" id="onenumber">There must be at least one number.</li>
            </ul>
            {{/if}}
        </div>
    </div>
</div>