{{> header}}

<section class="container">
    <div class="row">
        <div class="col-md-12 align-items-center">
            <h1 class="title">Reset Password Complete!</h1>
            <p>Please check your inbox. You should receive an email shortly. The reset password email might be present in the Spam folder.</p>
            <p>If you did not receive an email, please contact us using the contact form.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="/" class="btn btn-primary">Go back to store</a>
        </div>
    </div>

</section>