<section class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4 header-title">{{uppercase template}}</h2>
                <p class="text-white-50">The Coffee Bag</p>
            </div>
        </div>
    </div>
</section>